.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.bottom {
  font: normal normal normal 14px/1.4em brandon-grot-w01-light, sans-serif;
  color: #737373;
  background-color: black;
  text-align: center;
  width: 100%;
}
.bottom a {
  text-decoration: none;
  color: #737373;
  margin-left: 0.2%;
}
